
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 6em;
    min-height: 100%;
    background-color: #fdfefe;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
